body{	
	margin:center;
	text-align:center;
	font-family:sans-serif;
	color:blue;
	font-weight:bold;
	background-color:peru;


}
h1{
	font-variant:small-caps;
	color:olive;
}
div#content{	
	border-top:1em solid red;
	border-bottom:1em solid red;
	padding:0.5em;
	border-left:2em solid yellow;
	border-right:2em solid yellow;
}
table{	
	align:center;	
	border:5pt solid white;
	padding:1em 1em;
}
td{	
	font-weight:900;
	border:2.5pt solid gold;
	padding 0.5em 1em;
}
div#content div#top{
	border-top:1.67em solid tomato;
	border-left:1.67em solid powderblue;
	border-bottom:1.67em solid tomato;
	border-right:1.67em solid powderblue;
	color:darkblue;
	font-size:5mm;
	
}
div#content div#top a{
	color:darkmagenta;
	transition-duration:0.3s
}
div#content div#top a:hover{
	color:red;
}




button{
	border:none;
	color:white;
	background-color:forestgreen;
	display:inline-block;
	padding: 15px 32px;
	font-size:16px;
	border-radius:9px;
	transition-duration:0.7s;
	box-shadow: 0 12px 16px 0 rgba(75,0,130,0.7), 0 17px 50px 0 rgba(75,0,130,0.7);

	
}
button:hover{
	border:2px solid forestgreen;
	background-color:red;
	color:forestgreen;
	border-radius:2px;
	box-shadow: 0 12px 16px 0 rgba(240,200,74,18.24), 0 17px 60px 0 rgba(240,200,76,18.19);

}
button:active{
	border:2px solid cyan;
	background-color:white;
	color:peru;
	border-radius:25px;
	box-shadow: 0 12px 16px 0 rgba(200,200,200,18.24), 0 17px 60px 0 rgba(200,200,300,18.19);
}

	
input[type=text],[type=password],[type=email],textarea{
	background-color:papayawhip;

}
input[type=text]:hover,[type=password]:hover,[type=email]:hover,textarea:hover{
	background-color:paleturquoise;

}

header{
	background-color:black;
	color:snow;
	font-family:Times;
	transition-duRATION:1000MS
}
header a{
	color:crimson;
	transition-duration:0.3s;

}
header a:hover{
	color:white;
}
header:hover{
	background-color:#331a00 ;
}
ul{color:red;
   transition-duration:1.2s;
}
ul:hover{
	color:firebrick 10
}


