{% extends "gmsapp/base.html"%}

{%block title%}
INBOX
{%endblock%} 
{%block body%}
<div id="content">
<div id="top">
<br><br><br><br>
Logged in:{{curuser}}<br><a href=/logout/>        LOGOUT       </a><br>
<a href='/send/'>
My send mails</a>
<br><br><br><br>
</div>
<form action="/inbox/" method="POST" enctype="multipart/form-data">
{% csrf_token %}
{{form.as_p}}
<p>
<button type="submit" align="center" >Send</button>
</p>
</form>

<table id="MAILS" align=center>
{%for mail in MAILS%}
{%if mail.to_user == curuser %} 
<tr>
<td>
{{mail.from_user.username}}
</td>
<td>
{{mail.datepub}}
</td>
<td>
{{mail.content}}
</td>
{%if mail.attachment%}

<td>
<a href="{{mail.attachment.url}}">{{mail.attachment.name}}</a>
</td>
{%endif%}
</tr>
{%endif%}


{%endfor%}

</table>
</div>
{%endblock%}
